# uv is installed via rust/cargo
export PATH="${HOME}/.cargo/bin:${PATH}"
# Make sure the python virtualenv is activated.
# See:
# * https://github.com/direnv/direnv/wiki/Python#uv
# * https://pythonspeed.com/articles/activate-virtualenv-dockerfile/
layout uv

# Run pyenv init (to obtain the python interpreter pinning).
command -v pyenv > "/dev/null" && eval "$(pyenv init -)"
