# {{ ansible_managed }}

[include]
  path = {{ ansible_user_dir }}/Dropbox/profiles/git/yadr.gitconfig
  path = {{ ansible_user_dir }}/Dropbox/profiles/git/common.gitconfig
  path = {{ ansible_user_dir }}/Dropbox/profiles/git/{{ ansible_os_family }}.gitconfig
  path = {{ ansible_user_dir }}/Dropbox/profiles/git/work.gitconfig
